@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
}




.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.sb-show-main.sb-main-padded {
  padding: 0px;
}

.swiper-button-next:after {
  bottom: 4em;
  color:#eee white;
}

.swiper-slide swiper-slide-active {
width: 230px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -20px;
  padding-bottom: 14px;
  padding-top: 14px;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  background: white;
}

.recharts-wrapper {
  width: 80%;
}
